/* Header.css */

.header {
  width: 97%;
  background-color: rgb(255, 255, 255); /* Matte candy red */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-content {
  text-align: center;
  line-height: 1.1;
}

.header img {
  height: 100px;
  width: 300px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.slogan {
  font-size: 16px;
  color: #000000;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: -30px;
}
